:root {
  --primary-color: #213547;
  --secondary-color: #888;
  --primary-background-color: #fff;
  --link-color: #646cff;
  --link-hover-color: #747bff;
  --primary-background-button-color: #f9f9f9;
}
